<header>
		<div class="has-text-centered"> <!--move image to another place-->
		<img src="/assets/images/logo.png" alt="" width="145" height="auto"> <!--place picture-->
		</div>
		<nav class="navbar-tabs">
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">INTERVIEW</a>
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">WORK</a>
		</nav>
		
	</header>